<h2>Register User</h2>

<form [formGroup]="userForm" (ngSubmit)="registerUser()">
  <label>Name:</label>
  <input type="text" formControlName="name" required />
  <div *ngIf="userForm.controls.name.invalid && userForm.controls.name.touched">
    <small class="error">Name is required (Min 3 characters)</small>
  </div>

  <label>Email:</label>
  <input type="email" formControlName="email" required />
  <div *ngIf="userForm.controls.email.invalid && userForm.controls.email.touched">
    <small class="error">Enter a valid email</small>
  </div>

  <button type="submit" [disabled]="userForm.invalid">Register</button>
</form>
